* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  color: black;
}

canvas {
  display: block;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}